
/* navbar*/
body {font-family: Arial, Helvetica, sans-serif;}

.navbar {
  width: 100%;
  background-color: #13173d;
  overflow: auto;
  margin-top: 25px;
}

.navbar a {
  float: left;
  padding: 6px;
  color: white;
  text-decoration: none;
  font-size: 30px;
  
}

.active {
  background-color: red;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}




.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 30px;  
  border: none;
  outline: none;
  color: white;
  padding:6px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color:#04AA6D;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:black;
  min-width: 160px;
  box-shadow: rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding:6px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #04AA6D ;
}

.dropdown:hover .dropdown-content {
  display: block;
}





/*MARQUEE*/
.blink {
    animation: blinker 3s linear infinite;
    color: black;
    font-family: sans-serif;
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}

/* IMAGES*/
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align:auto;}

/* Slideshow container */
.slideshow-container {
  max-width: 1500px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/6 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}



  h1 {
    background-color: #04AA6D;
    text-align: center;
    font-size: 50px;
    }
  h3 {
    text-align: center;
    font-size: 35px;
     background-color: #04AA6D;
  }
  h2{
    text-align: center;
    font-size: 40px;
    background-color: #04AA6D;
    
  }
p {
  text-align: center;
  font-size: 20px;
}

.sign{
  text-align: center;
  font-size: 45px;
  background-color:  #04AA6D;
}

.container{
  background-image: url("g1.jpg");
    overflow: hidden;
    margin-top: 30px;
    color: white;
    text-align: center;
    font-size: 30px;
    height: 60%;
    font-family: Arial;
   
}

button {
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #aa5704;
}
